[main]
host = https://www.transifex.com

[skylitedcpp.skylitedcpp-qt]
file_filter = translations/skylitedcpp.skylitedcpp-qt/<lang>.ts
source_file = translations/skylitedcpp.skylitedcpp-qt/en.ts
source_lang = en

[skylitedcpp.skylitedcpp-gtk]
file_filter = translations/skylitedcpp.skylitedcpp-gtk/<lang>.po
source_file = translations/skylitedcpp.skylitedcpp-gtk/en.po
source_lang = en

[skylitedcpp.dcpp]
file_filter = translations/skylitedcpp.dcpp/<lang>.po
source_file = translations/skylitedcpp.dcpp/en.po
source_lang = en
